<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>336721683118-sjutsciln1t0t761kd217ombv3htn15i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336721683118-sjutsciln1t0t761kd217ombv3htn15i</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZVcE_fsYwQ8-9ur7UFLYKAQf13NZZrA</string>
	<key>GCM_SENDER_ID</key>
	<string>336721683118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivanmagda.Californication</string>
	<key>PROJECT_ID</key>
	<string>californication-a77b2</string>
	<key>STORAGE_BUCKET</key>
	<string>californication-a77b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336721683118:ios:f63fbda502931fd3</string>
	<key>DATABASE_URL</key>
	<string>https://californication-a77b2.firebaseio.com</string>
</dict>
</plist>